.App {
    padding: 50px 20px;
}
#quote {
    font-size: 200%;
    width: 60%;
    align-content: center;
    margin: auto;
    text-align: center;
}
#buttons {
    width:100%;
    margin: auto;
    align-content: center;
    text-align: center;
}
#newQuote, #shareQuote {
    border: none;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
