@import 'https://fonts.googleapis.com/css?family=Fira+Mono';
.App {
    height: 100%;
}
#card {
    align-content: center;
    margin: 60px auto;
    padding: 10px 10px;
    width: 70%;
}
#quote {
    font-size: 200%;
    width: 60%;
    align-content: center;
    margin: auto;
    text-align: center;
}
#buttons {
    margin: auto;
    align-content: center;
    text-align: center;
}
#newQuote, #shareQuote {
    text-align: center;
    display: inline-block;
}
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
@media (min-width: 620px) {
    #author {
        margin: 12px;
        display: flex;
        float: right;
        min-width: 88px;
        min-height: 36px;
        align-items: center;
        justify-content: center;
        color: gray;
    }
}
@media (max-width: 620px) {
    #actions {
        display: flex !important;
        flex-wrap: wrap-reverse !important;
        justify-content: center;
        align-items: center;
    }
    #author {
        margin: 12px;
        display: flex;
        float: none;
        min-width: 88px;
        min-height: 36px;
        align-items: center;
        justify-content: center;
        color: gray;
    }
}

#CardText {
    font-family: "Fira Mono", monospace;
    font-size: 150% !important;
    font-style: italic;
}
